<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Recipe Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.0.0-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/3.0.0/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/4.0.0-1/js/bootstrap.min.js}"></script>
    <title>Recipe This that</title>

</head>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">The World Cookbook</a>

    <span class="navbar-text">
    Copyright 2018. All rights reserved.
    </span>
</nav>
<body>

<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <!--/*@thymesVar id="ingredient" type="guru.springframework.spring5recipeapp.commands.IngredientCommand"*/-->
            <form  th:object="${ingredient}" th:action="@{'/recipe/' + ${ingredient.getRecipeId()} + '/ingredient'} ">
                <input type="hidden" th:field="*{id}"/>
                <div class="pannel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Edit Ingredient Information</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Description:</label>
                                    <input type="text" class="form-control" th:field="*{description}"/>
                                </div>

                                <div class="col-md-3 form-group">
                                    <label>Amount:</label>
                                    <input type="number" class="form-control" th:field="*{amount}"/>
                                </div>

                                <div class="col-md-3 form-group">
                                    <label>UOM:</label>
                                    <select class="form-control" name="UnitOfMeasureCommand.id">
                                        <option th:each="uomEach : ${uomList}"
                                                th:value="${uomEach.id}"
                                                th:selected="${uomEach.id.equals(ingredient.unitOfMeasureCommand.id)}"
                                                th:text="${uomEach.description}">Each</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>

</html>